@media (max-width:1336px){
    .header-content h1{
        font-size: 30px;
    }
}

@media (max-width:624px){
    .header-top{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        border: 3px solid #2D25C8;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 15px ;     
        padding-left: 15px;
        height: 50px;
        width: 150px;
    }

    .header-intro button{
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100px;
    padding-top: 10px;
    }

    .contact ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-content{
        flex-direction: column;
        padding-top: 10px;
    }

    .header-intro{
        text-align: center;
    }
}

@media (max-width:471px){
    .header-content h1{
        font-size: 25px;
        line-height: 20px;
    }

    .header-intro p{
        line-height: 20px;
    }
}